@page "/"

<PageTitle>Dice Rolling App</PageTitle>

<button class="btn btn-success" @onclick="RollDice" >Roll Dice</button>

<br /><br />

<img src="img/dice@(dice1).jpg" />
<img src="img/dice@(dice2).jpg" />

@if(isPair) {
    <h1>Wow a pair!</h1>
}

@code {
    private bool isPair = false;
    public int dice1 { get; set; } = 1;
    public int dice2 { get; set; } = 1;

    public async Task RollDice()
    {
        var random = new Random();
        dice1 = random.Next(1, 7);
        dice2 = random.Next(1, 7);

        if (dice1 == dice2)
        {
            isPair = true;
        }
        else
        {
            isPair = false;
        }
    }
}